{% extends 'base.html.twig' %}

{% block body %}
    {% if image is defined %}
        <img alt="Your image" src="{{ asset('/images/'~image.filename) }}"/>
        <p>Expires at {{ image.expiresAt | date }} UTC</p>
        Openings: <br>
        {% for opening in image.openings[:-1] %}
            {{ opening["date"] | date }} UTC<br>
        {% endfor %}
    {% else %}
        <h2>The image is deleted</h2>
    {% endif %}
{% endblock %}

{% block title %}
Show Image
{% endblock %}

